/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/views/3e6b43e46c14d0aeceaecefa685431cbfe6f0481.php
storage/framework/views/a64cf97290714c055332f7d1bcf61d6221e32e24.php
storage/framework/views/e0fc55fe57d9e4a8d317044f8a6cc7a0731a75b9.php
public/sql/laporans.sql
